.unity-text-element {
    font-size: 48px;
    -unity-font-definition: resource('Fonts & Materials/Aptos');
}

.unity-button {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 6px;
    -unity-background-scale-mode: stretch-to-fill;
    -unity-slice-type: sliced;
    position: relative;
    left: auto;
    background-size: 100% 100%;
    flex-shrink: 0;
    width: 50%;
    align-items: stretch;
    align-self: auto;
}

.header {
    opacity: 1;
    display: flex;
    -unity-font-definition: resource('Fonts & Materials/Aptos-Display');
    font-size: 96px;
    color: rgb(59, 111, 164);
}

.button {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    background-color: rgb(45, 110, 212);
    color: rgb(243, 243, 243);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 14px;
    padding-left: 14px;
}

.horizontal {
    flex-direction: row;
    align-items: stretch;
    align-self: stretch;
    align-content: center;
    justify-content: space-between;
}

.button:hover {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    background-color: rgb(29, 91, 188);
    color: rgb(243, 243, 243);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 14px;
    padding-left: 14px;
    transition-duration: 0.2s;
}
