.unity-tab-view__content-container {
    height: 100%;
}

.unity-tab__content-container {
    height: 100%;
}

.unity-tab-view__header-container {
    height: 10%;
}

.unity-tab__header {
    height: 100%;
    font-size: 200%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 0%;
    margin-right: 0.25%;
}
